<%= render 'shared/nav' %>

<h1>Change your Profile Picture</h1>

<h3>Current Picture:<h3>
<br>
<%= image_tag @avatar.image.thumb.url %>
<br>
<br>

<%= form_for @avatar, url: avatar_path(@avatar), method: :patch, html: { multipart: true } do |f| %>

  <div class="field">
    <%= f.hidden_field :username, :value => current_user.username %>
  </div>

  <div class="field">
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
